[submodule "products/jobbing-track"]
	path = products/jobbing-track
	url = git@github.com:PavelDelhomme/JobbingTrack.git
	branch = dev
[submodule "products/GasoilTracking"]
	path = products/GasoilTracking
	url = git@github.com:PavelDelhomme/GasoilTracking.git
	branch = dev
[submodule "products/YTMusic"]
	path = products/YTMusic
	url = git@github.com:PavelDelhomme/YTMusic.git
	branch = dev
[submodule "products/maps"]
	path = products/maps
	url = git@github.com:PavelDelhomme/CloudityMaps.git
	branch = main
